.img-thumbnail {
  text-align: center;
}

.img-thumbnail .caption {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
}

.main {
    text-align-last: center;
    vertical-align: baseline;
}

img.a {
    vertical-align: baseline;
  }


  .main-p {
    color:crimson;
    font-size: xx-large;
    background-color: bisque;
  }

  .main-p2 {
    color:rgb(23, 20, 179);
    font-size: x-large;
    
  }


footer {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  background-color: #fdfad3;
  color: #000;
}
