.img-thumbnail {
    width: 150px;
    height: 100px;
}
.main {
    text-align-last: center;
    vertical-align: baseline;
}

img.a {
    vertical-align: baseline;
  }


  .main-p {
    color:crimson;
    font-size: larger;
  }