.img-thumbnail {
    width: 150px;
    height: 100px;
}
.main {
    text-align-last: center;
    vertical-align: baseline;
}

img.a {
    vertical-align: baseline;
  }


  .main-p {
    color:crimson;
    font-size: xx-large;
    background-color: bisque;
  }

  .main-p2 {
    color:rgb(23, 20, 179);
    font-size: x-large;
    
  }